<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blue1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,211}</string>
			<key>spriteSourceSize</key>
			<string>{250,211}</string>
			<key>textureRect</key>
			<string>{{0,0},{250,211}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>blue2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,211}</string>
			<key>spriteSourceSize</key>
			<string>{250,211}</string>
			<key>textureRect</key>
			<string>{{250,0},{250,211}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>blue3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,211}</string>
			<key>spriteSourceSize</key>
			<string>{250,211}</string>
			<key>textureRect</key>
			<string>{{500,0},{250,211}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>blue4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,211}</string>
			<key>spriteSourceSize</key>
			<string>{250,211}</string>
			<key>textureRect</key>
			<string>{{750,0},{250,211}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>idleBigBlue.png</string>
		<key>size</key>
		<string>{1000,211}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8dbd2d835c38d77b01b244a241360860:333ec2f56f43f0268e9faab50b4bde98:48b610185239fef7897ee96697892c18$</string>
		<key>textureFileName</key>
		<string>idleBigBlue.png</string>
	</dict>
</dict>
</plist>
