<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>duckee_run1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-7}</string>
			<key>spriteSize</key>
			<string>{26,20}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,0},{26,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>duckee_run2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-6}</string>
			<key>spriteSize</key>
			<string>{26,22}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,20},{26,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>duckee_run3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-7}</string>
			<key>spriteSize</key>
			<string>{28,20}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{26,0},{28,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>duckee_run4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-6}</string>
			<key>spriteSize</key>
			<string>{26,22}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{26,20},{26,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>runYellow.png</string>
		<key>size</key>
		<string>{54,42}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b89524d75deb41b93209b044e61fb3d9:b44b1944fef03d85c800027d7763a138:cc3b2f1e26bbcd9ffdd48ae9081dfe08$</string>
		<key>textureFileName</key>
		<string>runYellow.png</string>
	</dict>
</dict>
</plist>
